In [1]:
h <- c("ronny","Christianto")

In [2]:
h[1:2]

[1] "ronny"       "Christianto"

In [3]:
library(HistData)

ERROR: Error in library(HistData): there is no package called 'HistData'

In [4]:
h[1]<-"natalinus"
h

[1] "natalinus"   "Christianto"

In [ ]:
x <- Galton$child

error_avg <- function(k){
  x[1] <- k
  mean(x)
}

error_avg(10000)
error_avg(-10000)

In [5]:
CPI <- function(a){a*1000}

In [7]:
CPI(2)

[1] 2000

In [46]:
a <- c(5,2,10,4,8,6)
nrow(a)

NULL

In [20]:
which.max(a)

[1] 3

In [26]:
b = is.na(a)

In [29]:
b

[1] FALSE FALSE FALSE FALSE  TRUE FALSE

In [21]:
sort(a)

[1]  2  4  5  6  8 10

In [22]:
a[3]

[1] 10

In [23]:
rank(a)

[1] 3 1 6 2 5 4

In [24]:
a

[1]  5  2 10  4  8  6

In [ ]:
# Store temperatures in an object 
temp <- c(35, 88, 42, 84, 81, 30)

# Store city names in an object 
city <- c("Beijing", "Lagos", "Paris", "Rio de Janeiro", "San Juan", "Toronto")

# Create data frame with city names and temperature 
city_temps <- data.frame(name = city, temperature = temp)

# Define a variable states to be the state names 
states <- murders$state

# Define a variable ranks to determine the population size ranks 

ranks <- rank(murders$population)

# Create a data frame my_df with the state name and its rank

my_df <- data.frame(name = states, rank = ranks)

my_df

In [ ]:
# Define a variable states to be the state names from the murders data frame

states<-murders$state

# Define a variable ranks to determine the population size ranks 
ranks<-rank(murders$population)

# Define a variable ind to store the indexes needed to order the population values
ind<-order(murders$population)

# Create a data frame my_df with the state name and its rank and ordered from least populous to most 
my_df<- data.frame(name = states[ind] ,rank = ranks[ind])

In [ ]:
# Note what we can do with the ! operator
x <- c(1, 2, 3)
ind <- c(FALSE, TRUE, FALSE)
x[!ind]


# Create the ind vector
library(dslabs)
data(na_example)
ind <- is.na(na_example)

# We saw that this gives an NA
mean(na_example)

# Compute the average, for entries of na_example that are not NA 
mean(na_example[!ind])

In [ ]:
# Define an object `x` with the numbers 1 through 100
x<-1:100
# Compute the sum 
sum(1/x^2)

In [ ]:
# Store the murder rate per 100,000 for each state, in `murder_rate`
murder_rate <- murders$total / murders$population * 100000

# Store the `murder_rate < 1` in `low` 
low <- murder_rate < 1

In [ ]:
#which
#The function which() help us know directly, which values are low or high, etc. Let's use it in this question.

# Store the murder rate per 100,000 for each state, in murder_rate
murder_rate <- murders$total/murders$population*100000

# Store the murder_rate < 1 in low 
low <- murder_rate < 1

# Get the indices of entries that are below 1
index <- which(low)
index





# Store the murder rate per 100,000 for each state, in murder_rate
murder_rate <- murders$total/murders$population*100000

# Store the murder_rate < 1 in low 
low <- murder_rate < 1

# Names of states with murder rates lower than 1
murders$state[low]






# Store the murder rate per 100,000 for each state, in `murder_rate`
murder_rate <- murders$total/murders$population*100000

# Store the `murder_rate < 1` in `low` 
low <- murder_rate < 1

# Create a vector ind for states in the Northeast and with murder rates lower than 1. 

ind<- murders$region == 'Northeast' & low
ind

# Names of states in `ind` 
murders$state[ind]






# Store the murder rate per 100,000 for each state, in murder_rate
murder_rate <- murders$total/murders$population*100000

# Compute average murder rate and store in avg using mean
avg <-mean(murder_rate)

# How many states are < avg ? Check using sum 
sum(murder_rate < avg)

In [ ]:
# Store the 3 abbreviations in abbs in a vector (remember that they are character vectors and need quotes)
abbs = c("AK","MI","IA")
# Match the abbs to the murders$abb and store in ind
ind = match(abbs,murders$abb)
# Print state names from ind
murders$state[ind]

In [ ]:
# Store the 5 abbreviations in `abbs`. (remember that they are character vectors)
abbs <- c("MA","ME","MI","MO","MU")

# Use the %in% command to check if the entries of abbs are abbreviations in the the murders data frame
abbs %in% murders$abb

In [ ]:
# Store the 5 abbreviations in abbs. (remember that they are character vectors)
abbs <- c("MA", "ME", "MI", "MO", "MU") 

# Use the `which` command and `!` operator to find out which abbreviation are not actually part of the dataset and store in ind
ind <- which(!abbs%in%murders$abb)
# What are the entries of abbs that are not actual abbreviations
abbs[5]

In [31]:


# Redefine murders so that it includes column named rate with the per 100,000 murder rates
murders<-mutate(murders,rate=murders$total/murders$population*100000)
murders

   state                abb region        population total rate
1  Alabama              AL  South          4779736    135   2.8244238
2  Alaska               AK  West            710231     19   2.6751860
3  Arizona              AZ  West           6392017    232   3.6295273
4  Arkansas             AR  South          2915918     93   3.1893901
5  California           CA  West          37253956   1257   3.3741383
6  Colorado             CO  West           5029196     65   1.2924531
7  Connecticut          CT  Northeast      3574097     97   2.7139722
8  Delaware             DE  South           897934     38   4.2319369
9  District of Columbia DC  South           601723     99  16.4527532
10 Florida              FL  South         19687653    669   3.3980688
11 Georgia              GA  South          9920000    376   3.7903226
12 Hawaii               HI  West           1360301      7   0.5145920
13 Idaho                ID  West           1567582     12   0.7655102
14 Illinois             IL  North Central 12830632    364   2.8369608
15 Indiana              IN  North Central  6483802    142   2.1900730
16 Iowa                 IA  North Central  3046355     21   0.6893484
17 Kansas               KS  North Central  2853118     63   2.2081106
18 Kentucky             KY  South          4339367    116   2.6732010
19 Louisiana            LA  South          4533372    351   7.7425810
20 Maine                ME  Northeast      1328361     11   0.8280881
21 Maryland             MD  South          5773552    293   5.0748655
22 Massachusetts        MA  Northeast      6547629    118   1.8021791
23 Michigan             MI  North Central  9883640    413   4.1786225
24 Minnesota            MN  North Central  5303925     53   0.9992600
25 Mississippi          MS  South          2967297    120   4.0440846
26 Missouri             MO  North Central  5988927    321   5.3598917
27 Montana              MT  West            989415     12   1.2128379
28 Nebraska             NE  North Central  1826341     32   1.7521372
29 Nevada               NV  West           2700551     84   3.1104763
30 New Hampshire        NH  Northeast      1316470      5   0.3798036
31 New Jersey           NJ  Northeast      8791894    246   2.7980319
32 New Mexico           NM  West           2059179     67   3.2537239
33 New York             NY  Northeast     19378102    517   2.6679599
34 North Carolina       NC  South          9535483    286   2.9993237
35 North Dakota         ND  North Central   672591      4   0.5947151
36 Ohio                 OH  North Central 11536504    310   2.6871225
37 Oklahoma             OK  South          3751351    111   2.9589340
38 Oregon               OR  West           3831074     36   0.9396843
39 Pennsylvania         PA  Northeast     12702379    457   3.5977513
40 Rhode Island         RI  Northeast      1052567     16   1.5200933
41 South Carolina       SC  South          4625364    207   4.4753235
42 South Dakota         SD  North Central   814180      8   0.9825837
43 Tennessee            TN  South          6346105    219   3.4509357
44 Texas                TX  South         25145561    805   3.2013603
45 Utah                 UT  West           2763885     22   0.7959810
46 Vermont              VT  Northeast       625741      2   0.3196211
47 Virginia             VA  South          8001024    250   3.1246001
48 Washington           WA  West           6724540     93   1.3829942
49 West Virginia        WV  South          1852994     27   1.4571013
50 Wisconsin            WI  North Central  5686986     97   1.7056487
51 Wyoming              WY  West            563626      5   0.8871131

In [33]:
# Note that if you want ranks from highest to lowest you can take the negative and ten compute the ranks 
x <- c(88, 100, 83, 92, 94)
rank(-x)

# Defining rate
rate <-  murders$total/ murders$population * 100000

# Redefine murders to include a column named rank
# with the ranks of rate from highest to lowest
murders <- mutate(murders, rank = rank(-rate))
murders

[1] 4 1 5 3 2

   state                abb region        population total rate       rank
1  Alabama              AL  South          4779736    135   2.8244238 23
2  Alaska               AK  West            710231     19   2.6751860 27
3  Arizona              AZ  West           6392017    232   3.6295273 10
4  Arkansas             AR  South          2915918     93   3.1893901 17
5  California           CA  West          37253956   1257   3.3741383 14
6  Colorado             CO  West           5029196     65   1.2924531 38
7  Connecticut          CT  Northeast      3574097     97   2.7139722 25
8  Delaware             DE  South           897934     38   4.2319369  6
9  District of Columbia DC  South           601723     99  16.4527532  1
10 Florida              FL  South         19687653    669   3.3980688 13
11 Georgia              GA  South          9920000    376   3.7903226  9
12 Hawaii               HI  West           1360301      7   0.5145920 49
13 Idaho                ID  West           1567582     12   0.7655102 46
14 Illinois             IL  North Central 12830632    364   2.8369608 22
15 Indiana              IN  North Central  6483802    142   2.1900730 31
16 Iowa                 IA  North Central  3046355     21   0.6893484 47
17 Kansas               KS  North Central  2853118     63   2.2081106 30
18 Kentucky             KY  South          4339367    116   2.6732010 28
19 Louisiana            LA  South          4533372    351   7.7425810  2
20 Maine                ME  Northeast      1328361     11   0.8280881 44
21 Maryland             MD  South          5773552    293   5.0748655  4
22 Massachusetts        MA  Northeast      6547629    118   1.8021791 32
23 Michigan             MI  North Central  9883640    413   4.1786225  7
24 Minnesota            MN  North Central  5303925     53   0.9992600 40
25 Mississippi          MS  South          2967297    120   4.0440846  8
26 Missouri             MO  North Central  5988927    321   5.3598917  3
27 Montana              MT  West            989415     12   1.2128379 39
28 Nebraska             NE  North Central  1826341     32   1.7521372 33
29 Nevada               NV  West           2700551     84   3.1104763 19
30 New Hampshire        NH  Northeast      1316470      5   0.3798036 50
31 New Jersey           NJ  Northeast      8791894    246   2.7980319 24
32 New Mexico           NM  West           2059179     67   3.2537239 15
33 New York             NY  Northeast     19378102    517   2.6679599 29
34 North Carolina       NC  South          9535483    286   2.9993237 20
35 North Dakota         ND  North Central   672591      4   0.5947151 48
36 Ohio                 OH  North Central 11536504    310   2.6871225 26
37 Oklahoma             OK  South          3751351    111   2.9589340 21
38 Oregon               OR  West           3831074     36   0.9396843 42
39 Pennsylvania         PA  Northeast     12702379    457   3.5977513 11
40 Rhode Island         RI  Northeast      1052567     16   1.5200933 35
41 South Carolina       SC  South          4625364    207   4.4753235  5
42 South Dakota         SD  North Central   814180      8   0.9825837 41
43 Tennessee            TN  South          6346105    219   3.4509357 12
44 Texas                TX  South         25145561    805   3.2013603 16
45 Utah                 UT  West           2763885     22   0.7959810 45
46 Vermont              VT  Northeast       625741      2   0.3196211 51
47 Virginia             VA  South          8001024    250   3.1246001 18
48 Washington           WA  West           6724540     93   1.3829942 37
49 West Virginia        WV  South          1852994     27   1.4571013 36
50 Wisconsin            WI  North Central  5686986     97   1.7056487 34
51 Wyoming              WY  West            563626      5   0.8871131 43

In [51]:
filter(murders, region %in% c("West", "South"))

   state                abb region population total rate       rank
1  Alabama              AL  South   4779736    135   2.8244238 23
2  Alaska               AK  West     710231     19   2.6751860 27
3  Arizona              AZ  West    6392017    232   3.6295273 10
4  Arkansas             AR  South   2915918     93   3.1893901 17
5  California           CA  West   37253956   1257   3.3741383 14
6  Colorado             CO  West    5029196     65   1.2924531 38
7  Delaware             DE  South    897934     38   4.2319369  6
8  District of Columbia DC  South    601723     99  16.4527532  1
9  Florida              FL  South  19687653    669   3.3980688 13
10 Georgia              GA  South   9920000    376   3.7903226  9
11 Hawaii               HI  West    1360301      7   0.5145920 49
12 Idaho                ID  West    1567582     12   0.7655102 46
13 Kentucky             KY  South   4339367    116   2.6732010 28
14 Louisiana            LA  South   4533372    351   7.7425810  2
15 Maryland             MD  South   5773552    293   5.0748655  4
16 Mississippi          MS  South   2967297    120   4.0440846  8
17 Montana              MT  West     989415     12   1.2128379 39
18 Nevada               NV  West    2700551     84   3.1104763 19
19 New Mexico           NM  West    2059179     67   3.2537239 15
20 North Carolina       NC  South   9535483    286   2.9993237 20
21 Oklahoma             OK  South   3751351    111   2.9589340 21
22 Oregon               OR  West    3831074     36   0.9396843 42
23 South Carolina       SC  South   4625364    207   4.4753235  5
24 Tennessee            TN  South   6346105    219   3.4509357 12
25 Texas                TX  South  25145561    805   3.2013603 16
26 Utah                 UT  West    2763885     22   0.7959810 45
27 Virginia             VA  South   8001024    250   3.1246001 18
28 Washington           WA  West    6724540     93   1.3829942 37
29 West Virginia        WV  South   1852994     27   1.4571013 36
30 Wyoming              WY  West     563626      5   0.8871131 43

In [39]:


# Use select to only show state names and abbreviations from murders
select(murders, state,rank)

   state                rank
1  Alabama              23
2  Alaska               27
3  Arizona              10
4  Arkansas             17
5  California           14
6  Colorado             38
7  Connecticut          25
8  Delaware              6
9  District of Columbia  1
10 Florida              13
11 Georgia               9
12 Hawaii               49
13 Idaho                46
14 Illinois             22
15 Indiana              31
16 Iowa                 47
17 Kansas               30
18 Kentucky             28
19 Louisiana             2
20 Maine                44
21 Maryland              4
22 Massachusetts        32
23 Michigan              7
24 Minnesota            40
25 Mississippi           8
26 Missouri              3
27 Montana              39
28 Nebraska             33
29 Nevada               19
30 New Hampshire        50
31 New Jersey           24
32 New Mexico           15
33 New York             29
34 North Carolina       20
35 North Dakota         48
36 Ohio                 26
37 Oklahoma             21
38 Oregon               42
39 Pennsylvania         11
40 Rhode Island         35
41 South Carolina        5
42 South Dakota         41
43 Tennessee            12
44 Texas                16
45 Utah                 45
46 Vermont              51
47 Virginia             18
48 Washington           37
49 West Virginia        36
50 Wisconsin            34
51 Wyoming              43

In [40]:
# Add the necessary columns
murders <- mutate(murders, rate = total/population * 100000, rank = rank(-rate))

# Filter to show the top 5 states with the highest murder rates
filter(murders, rank <= 5)

  state                abb region        population total rate      rank
1 District of Columbia DC  South          601723     99   16.452753 1
2 Louisiana            LA  South         4533372    351    7.742581 2
3 Maryland             MD  South         5773552    293    5.074866 4
4 Missouri             MO  North Central 5988927    321    5.359892 3
5 South Carolina       SC  South         4625364    207    4.475323 5

In [50]:
select(murders,state)

   state
1  Alabama
2  Alaska
3  Arizona
4  Arkansas
5  California
6  Colorado
7  Connecticut
8  Delaware
9  District of Columbia
10 Florida
11 Georgia
12 Hawaii
13 Idaho
14 Illinois
15 Indiana
16 Iowa
17 Kansas
18 Kentucky
19 Louisiana
20 Maine
21 Maryland
22 Massachusetts
23 Michigan
24 Minnesota
25 Mississippi
26 Missouri
27 Montana
28 Nebraska
29 Nevada
30 New Hampshire
31 New Jersey
32 New Mexico
33 New York
34 North Carolina
35 North Dakota
36 Ohio
37 Oklahoma
38 Oregon
39 Pennsylvania
40 Rhode Island
41 South Carolina
42 South Dakota
43 Tennessee
44 Texas
45 Utah
46 Vermont
47 Virginia
48 Washington
49 West Virginia
50 Wisconsin
51 Wyoming

In [45]:
filter(murders,region != "South")

   state         abb region        population total rate      rank
1  Alaska        AK  West            710231     19  2.6751860 27
2  Arizona       AZ  West           6392017    232  3.6295273 10
3  California    CA  West          37253956   1257  3.3741383 14
4  Colorado      CO  West           5029196     65  1.2924531 38
5  Connecticut   CT  Northeast      3574097     97  2.7139722 25
6  Hawaii        HI  West           1360301      7  0.5145920 49
7  Idaho         ID  West           1567582     12  0.7655102 46
8  Illinois      IL  North Central 12830632    364  2.8369608 22
9  Indiana       IN  North Central  6483802    142  2.1900730 31
10 Iowa          IA  North Central  3046355     21  0.6893484 47
11 Kansas        KS  North Central  2853118     63  2.2081106 30
12 Maine         ME  Northeast      1328361     11  0.8280881 44
13 Massachusetts MA  Northeast      6547629    118  1.8021791 32
14 Michigan      MI  North Central  9883640    413  4.1786225  7
15 Minnesota     MN  North Central  5303925     53  0.9992600 40
16 Missouri      MO  North Central  5988927    321  5.3598917  3
17 Montana       MT  West            989415     12  1.2128379 39
18 Nebraska      NE  North Central  1826341     32  1.7521372 33
19 Nevada        NV  West           2700551     84  3.1104763 19
20 New Hampshire NH  Northeast      1316470      5  0.3798036 50
21 New Jersey    NJ  Northeast      8791894    246  2.7980319 24
22 New Mexico    NM  West           2059179     67  3.2537239 15
23 New York      NY  Northeast     19378102    517  2.6679599 29
24 North Dakota  ND  North Central   672591      4  0.5947151 48
25 Ohio          OH  North Central 11536504    310  2.6871225 26
26 Oregon        OR  West           3831074     36  0.9396843 42
27 Pennsylvania  PA  Northeast     12702379    457  3.5977513 11
28 Rhode Island  RI  Northeast      1052567     16  1.5200933 35
29 South Dakota  SD  North Central   814180      8  0.9825837 41
30 Utah          UT  West           2763885     22  0.7959810 45
31 Vermont       VT  Northeast       625741      2  0.3196211 51
32 Washington    WA  West           6724540     93  1.3829942 37
33 Wisconsin     WI  North Central  5686986     97  1.7056487 34
34 Wyoming       WY  West            563626      5  0.8871131 43

In [ ]:
# Use filter to create a new data frame no_south
no_south <- filter(murders,region!="South")
# Use nrow() to calculate the number of rows
nrow(no_south)

In [ ]:
# Create a new data frame called murders_nw with only the states from the northeast and the west
murders_nw<-filter(murders,region %in% c("Northeast","West"))
# Number of states (rows) in this category 
nrow(murders_nw)

In [ ]:
murders <- mutate(murders, rate =  total / population * 100000, rank = rank(-rate))

In [ ]:
# Created a table 
my_states <- filter(murders, region %in% c("Northeast", "West") & rate < 1)

# Used select to show only the state name, the murder rate and the rank
select(my_states, state, rate, rank)

In [ ]:
# learn how to pipes

# Create new data frame called my_states (with specifications in the instructions)
my_states <- murders %>% 
    mutate(rate =  total / population * 100000, rank = rank(-rate)) %>%
    filter(region %in% c("Northeast", "West") & rate < 1) %>%
    select(state, rate, rank)

In [54]:
# Associate the cost values with its corresponding food item
cost <- c(50, 75, 90, 100, 150)
food <- c("pizza", "burgers", "salads", "cheese", "pasta")
names(cost) <- food

In [55]:
cost

  pizza burgers  salads  cheese   pasta
     50      75      90     100     150

In [56]:
cost[1]

pizza
   50

In [57]:
temp <- c(35, 88, 42, 84, 81, 30)
city <- c("Beijing", "Lagos", "Paris", "Rio de Janeiro", "San Juan", "Toronto")
city_temps <- data.frame(name = city, temperature = temp)

In [58]:
city_temps

  name           temperature
1 Beijing        35
2 Lagos          88
3 Paris          42
4 Rio de Janeiro 84
5 San Juan       81
6 Toronto        30

In [59]:
city_temps[1]

  name
1 Beijing
2 Lagos
3 Paris
4 Rio de Janeiro
5 San Juan
6 Toronto